@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
    font-family: "Roboto", sans-serif;
}

span {
    color: black;
}

boxshadow {
    box-shadow: -4px 6px 23px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 23px 0px rgba(0, 0, 0, 0.75);
}
